@import "tailwindcss";

@theme {
  --color-brand-950: #020408; 
  --color-brand-900: #060b19; 
  --color-brand-800: #0a1329;
  --color-brand-700: #162345; 
  
  --color-brand-primary: #00f0ff; 
  --color-brand-secondary: #22d3ee; 
  --color-brand-muted: #64748b;
}

:root {
  background-color: var(--color-brand-950);
  color: white;
  background-image: 
    linear-gradient(rgba(0, 240, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 240, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  overflow: hidden; 
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
}

@media (orientation: portrait) {
  #rotate-overlay {
    display: flex !important;
  }
  
  #dashboard-content {
    display: none !important;
  }
}

html {
  font-size: 10px; 
}
