@import "tailwindcss";

@theme {
  --color-brand-950: #020408; 
  --color-brand-900: #060b19; 
  --color-brand-800: #0a1329;
  --color-brand-700: #162345; 
  
  --color-brand-primary: #00f0ff; 
  --color-brand-secondary: #22d3ee; 
  --color-brand-muted: #64748b;
}

:root {
  background-color: var(--color-brand-950);
  color: white;
  background-image: 
    linear-gradient(rgba(0, 240, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 240, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  overflow: hidden; 
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
}

@media (orientation: portrait) {
  #rotate-overlay {
    display: flex !important;
  }
  
  #dashboard-content {
    display: none !important;
  }
}

html {
  font-size: 9.3px; 
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
 .custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
 }

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s ease; 
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(30, 41, 59, 0.8); 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.6); 
}

.custom-scrollbar {
   scrollbar-width: thin;
   scrollbar-color: transparent transparent; 
}
.custom-scrollbar:hover {
   scrollbar-color: rgba(30, 41, 59, 0.8) transparent; 
}